---
import { Image } from "astro:assets";
import { type CollectionEntry } from "astro:content";
import { IoGitMergeOutline, IoGitCommitOutline, IoTimerOutline } from "solid-icons/io";
import TagCard from "../card/TagCard.astro";
interface Props {
  slug: CollectionEntry<"article">["slug"];
  data: CollectionEntry<"article">["data"];
}

const { slug, data } = Astro.props;
---

<section>
  <figure class="w-screen -mx-4 lg:w-2/3 lg:mx-0">
    <Image src={`/blog/thambnail/${slug}.png`} width={1280} height={720} alt={data.title} class="lg:rounded-xl" transition:name={`thambnail-${slug}`} />
  </figure>
  <ul class="flex justify-between items-center pt-1">
    <ul class="flex items-center gap-4">
      <a href={`/blog/archive/${data.publishDate.getFullYear()}-${data.publishDate.getMonth() + 1}`} class="text-accent-base inline-flex items-center gap-1 lg:gap-2 text-[0.8rem] lg:text-[1.6rem]">
        <IoGitCommitOutline class="rotate-90" />
        <time
          datetime={data.publishDate.toISOString()}
          class="text-xs lg:text-lg text-muted-foreground tracking-wider"
        >
          {data.publishDate.toLocaleDateString("ja-JP", {
            year: "numeric",
            month: "2-digit",
            day: "2-digit",
          })}
        </time>
      </a>
      {
        data.updateDate && (
          <li class="text-accent-base inline-flex items-center gap-1 lg:gap-2 text-[0.8rem] lg:text-[1.6rem]">
          <IoGitMergeOutline />
          <time
            datetime={data.updateDate.toISOString()}
            class="text-xs lg:text-lg text-muted-foreground tracking-wider"
          >
            {data.updateDate.toLocaleDateString("ja-JP", {
              year: "numeric",
              month: "2-digit",
              day: "2-digit",
            })}
          </time>
        </li>
        )
      }
    </ul>
    <li class="text-accent-base inline-flex items-center gap-1">
      <IoTimerOutline size={"0.8rem"} />
      <p class="text-xs text-muted-foreground tracking-wider">{`${300} chars`}</p>
    </li>
  </ul>
  <h1 class="text-3xl font-bold tracking-wide pt-6" transition:name={`title-${slug}`}>{data.title}</h1>
  <p class="text-muted-foreground pt-6">{data.description}</p>
  <ul class="inline-flex flex-wrap items-center gap-2 pt-6">
    {
      data.tags && data.tags.map(({ id }) => (
        <li>
          <TagCard id={id} />
        </li>
      ))
    }
  </ul>
</section>