---
import { Image } from "astro:assets";
import ProfileImage from "../../assets/images/profile-image.jpg";
import { SiGithub, SiZenn, SiTwitter, SiQiita } from "solid-icons/si";
import Age from "./Age";
import ExperienceYears from "./ExperienceYears";
---

<section
	class="relative w-screen -mx-4 sm:w-full sm:mx-0 lg:rounded-xl flex flex-col items-center gap-2 lg:gap-4 p-4 shadow-lg"
>
	<Image
		src={ProfileImage}
		alt="Profile Image"
		class="w-full h-full object-cover absolute top-0 left-0 z-0 lg:rounded-xl filter grayscale select-none shadow-lg"
		width={1008}
		height={756}
	/>
	<div class="bg-background/80 z-10 p-4 rounded-xl flex flex-col items-center gap-4">
		<div class="flex items-center gap-3 lg:gap-4">
			<div class="w-2 h-5 lg:h-7 bg-gradient-to-b from-accent-sub-base to-accent-base"></div>
			<h1 class="text-2xl lg:text-3xl font-extrabold tracking-wide">Shota Inoue</h1>
		</div>
		<p class="text-muted-foreground font-medium">
			<Age client:load />
			<span> 歳、 </span>
			<span> 自称プログラマ </span>
			<ExperienceYears client:load />
			<span> 年生。</span>
			<br />
			<span> ※数字は勝手にインクリメントされます。</span>
			<br />
			<span> Web フロントエンドが好き。</span>
		</p>
		<ul class="w-full px-4 flex items-center justify-between">
			<li>
				<a
					href="/about"
					class="font-semibold tracking-wide bg-gradient-to-r from-accent-sub-base to-accent-base px-2 py-1 rounded-xl"
				>
					About Me
				</a>
			</li>
			<ul class="flex items-center gap-4">
				<li>
					<a
						href={import.meta.env.ZENN_URL}
						target="_blank"
						rel="noopener noreferrer"
						class="text-xl text-muted-foreground hover:text-foreground transition-colors duration-150"
					>
						<SiZenn />
					</a>
				</li>
				<li>
					<a
						href={import.meta.env.QIITA_URL}
						target="_blank"
						rel="noopener noreferrer"
						class="text-xl text-muted-foreground hover:text-foreground transition-colors duration-150"
					>
						<SiQiita />
					</a>
				</li>
				<li>
					<a
						href={import.meta.env.X_URL}
						target="_blank"
						rel="noopener noreferrer"
						class="text-xl text-muted-foreground hover:text-foreground transition-colors duration-150"
					>
						<SiTwitter />
					</a>
				</li>
				<li>
					<a
						href={import.meta.env.GITHUB_URL}
						target="_blank"
						rel="noopener noreferrer"
						class="text-xl text-muted-foreground hover:text-foreground transition-colors duration-150"
					>
						<SiGithub />
					</a>
				</li>
			</ul>
		</ul>
	</div>
</section>
