---
import { getEntry } from "astro:content";
import Breadcrumbs from "../components/common/Breadcrumbs.astro";
import Base from "../layouts/Base.astro";
import { AllowedRoutes } from "../utils/common/route";
import Toc from "../components/large/Toc";

const routes = new AllowedRoutes(Astro.url.pathname);
const { meta } = routes.getSubsetPageMeta();

const privacyPolicy = await getEntry("fixed", "privacy-policy");

const { Content, headings } = await privacyPolicy.render();
---

<Base title={`${meta.name} | ${import.meta.env.APP_NAME}`} description=`${meta.description}`>
	<section class="pt-8 w-full flex flex-col lg:flex-row">
		<article class="min-h-[calc(100dvh-8rem)] sm:min-h-0 flex flex-col gap-8 lg:w-[65%]">
			<Breadcrumbs />
			<h1 class="flex justify-center text-4xl lg:text-6xl font-extrabold">{meta.name}</h1>
			<div class="lg:hidden">
				<Toc headings={headings} client:visible />
			</div>
			<div id="article-content">
				<Content />
				<hr />
				<p>
					<i
						>{
							`最終更新日時：${privacyPolicy.data.updateDate?.toLocaleDateString("ja-JP", { year: "numeric", month: "2-digit", day: "2-digit" })}`
						}</i
					>
				</p>
			</div>
		</article>
		<aside
			class="pt-16 lg:pt-0 flex flex-col gap-8 lg:w-[35%] lg:pl-[3.95rem] 2xl:pl-[5.925rem] 2xl:pr-[1.975rem]"
		>
			<div class="lg:sticky lg:top-8 hidden lg:flex flex-col items-end sm:gap-4">
				<Toc headings={headings} client:visible />
			</div>
		</aside>
	</section>
</Base>

<style is:global>
	#article-content {
		/* paragraphs */
		p {
			@apply tracking-wide leading-relaxed lg:text-[1.125rem] xl:text-[1.25rem];
		}

		/* link card */
		.rlc-container {
			@apply my-4 lg:my-8 flex items-center w-full h-24 sm:h-28 lg:h-32 rounded-xl border border-muted-background hover:bg-muted-background transition-colors duration-200;
		}

		.rlc-info {
			@apply flex flex-col p-2 justify-between gap-1 w-3/4 h-full;
		}

		.rlc-title {
			@apply font-semibold lg:text-lg max-h-12 truncate;
		}

		.rlc-description {
			@apply text-xs text-muted-foreground whitespace-pre-wrap max-h-4 lg:max-h-12 truncate overflow-clip;
		}

		.rlc-url-container {
			@apply flex items-center gap-1;
		}

		.rlc-favicon {
			@apply w-3 h-3;
		}

		.rlc-url {
			@apply font-code font-semibold tracking-tight text-xs text-muted-foreground;
		}

		.rlc-image-container {
			@apply w-1/4 h-full;
		}

		.rlc-image-container img {
			@apply bg-background w-full h-full object-cover rounded-r-[calc(0.75rem-1px)];
		}

		/* code block */
		.remark-code-title {
			@apply mt-8 mb-1 text-base p-2 rounded-t-lg font-semibold bg-[#282a36] text-[#fcfcfc];
		}
		.remark-code-title + pre {
			@apply p-2 rounded-b-lg overflow-x-auto;
		}
		.remark-code-title + pre code {
			@apply font-code text-sm lg:text-base xl:text-lg;
		}

		/* inline code */
		p > code {
			@apply font-code text-sm lg:text-base xl:text-lg bg-muted-background px-1 py-[0.125rem] rounded-md;
		}

		/* hr */
		hr {
			@apply my-4 border-[0.5px] border-muted-background;
		}
	}
</style>
