---
import Base from "../../layouts/Base.astro";
import { type GetStaticPathsOptions } from "astro";
import { getCollection } from "astro:content";
import Breadcrumbs from "../../components/common/Breadcrumbs.astro";
import { AllowedRoutes } from "../../utils/common/route";

export const getStaticPaths = (async ({ paginate }: GetStaticPathsOptions) => {
  const bookmarks = await getCollection("bookmark", ({ data }) => {
    return import.meta.env.PROD ? data.isDraft === false : true;
  });

  return paginate(bookmarks, { pageSize: 10 });
});

const { page } = Astro.props;

const route = new AllowedRoutes(Astro.url.pathname);
const { meta } = route.getRootPageMeta();
---

<Base title={`${meta.name} | ${import.meta.env.APP_NAME}`} description=`${meta.description}`>
	<section class="pt-8 w-full flex flex-col lg:flex-row">
    <Breadcrumbs />
    {
      page.data.map(({ data }) => {
        return (
          <article class="flex flex-col gap-8 lg:w-[65%]">
            <h1 class="text-3xl font-bold">{data.name}</h1>
            <a href={data.url} class="text-lg font-medium">{data.description}</a>
          </article>
        );
      })
    }
	</section>
</Base>
