---
import ArticleHeadline from "../../../components/large/ArticleHeadline.astro";
import Toc from "../../../components/large/Toc";
import ArticlePage from "../../../layouts/ArticlePage.astro";
import { getCollection } from "astro:content";
import ProfileCard from "../../../components/card/ProfileCard.astro";
// KeTeX
import "katex/dist/katex.min.css";
import PageTopButton from "../../../components/button/PageTopButton";
import RelatedArticles from "../../../components/large/RelatedArticles.astro";
import Shares from "../../../components/large/Shares";
import SideArticles from "../../../components/large/SideArticles.astro";
import Comments from "../../../components/large/Comments.astro";

export const getStaticPaths = async () => {
	const articles = await getCollection("article");

	return articles.map((article) => ({
		params: { slug: article.slug },
		props: { article },
	}));
};

const { article } = Astro.props;

const { Content, headings } = await article.render();
---

<ArticlePage
	title={`${article.data.title} | ${import.meta.env.APP_NAME}`}
	description={article.data.description ?? ""}
	ogImage={new URL(`/blog/thambnail/${article.slug}.png`, import.meta.env.APP_URL)}
	headings={headings}
>
	<section class="pt-8 w-full flex flex-col lg:flex-row">
		<article class="min-h-[calc(100dvh-8rem)] sm:min-h-0 flex flex-col gap-8 lg:w-[65%]">
			<ArticleHeadline slug={article.slug} data={article.data} body={article.body} />
			<div class="lg:hidden">
				<Toc headings={headings} client:visible />
			</div>
			<section id="article-content">
				<Content />
				<div class="lg:hidden mt-8 lg:mt-0">
					<Shares
						appOwner={import.meta.env.APP_OWNER}
						appUrl={import.meta.env.APP_URL}
						title={article.data.title}
						slug={article.slug}
						client:visible
					/>
				</div>
				<Comments />
				<RelatedArticles relatedArticles={article.data.relatedArticles} />
				<SideArticles slug={article.slug} />
			</section>
		</article>
		<aside
			class="pt-16 lg:pt-0 flex flex-col gap-8 lg:w-[35%] lg:pl-[3.95rem] 2xl:pl-[5.925rem] 2xl:pr-[1.975rem]"
		>
			<ProfileCard />
			<div class="lg:sticky lg:top-8 hidden lg:flex flex-col items-end sm:gap-4">
				<Toc headings={headings} client:visible />
				<div class="flex items-center gap-4 w-full">
					<Shares
						appOwner={import.meta.env.APP_OWNER}
						appUrl={import.meta.env.APP_URL}
						title={article.data.title}
						slug={article.slug}
						client:visible
					/>
					<PageTopButton client:visible />
				</div>
			</div>
		</aside>
	</section>
</ArticlePage>

<style is:global>
	#article-content {
		/* paragraphs */
		p {
			@apply tracking-wide leading-relaxed 2xl:leading-loose sm:text-[1.125rem] lg:text-[1.25rem];
		}

		/* list */
		ul {
			@apply pl-[1.125rem] xl:pl-[1.25rem] list-outside list-disc my-8;
		}

		ol {
			@apply pl-[1.125rem] xl:pl-[1.25rem] list-outside list-decimal my-8;
		}

		ol > li::marker {
			@apply font-semibold;
		}

		ul > li,
		ol > li {
			@apply py-3 tracking-wide leading-relaxed 2xl:leading-loose lg:text-[1.125rem] xl:text-[1.25rem];
		}

		ul > li > ul {
			@apply pl-4 py-1 my-0;
		}

		ol > li > ol {
			@apply pl-6 py-0 my-0;
		}

		/* footnote ol */
		ol > li[id^="user-content-fn"] p {
			@apply inline;
		}

		/* link card */
		.rlc-container {
			@apply my-8 lg:my-12 flex items-center w-full h-28 sm:h-32 lg:h-36 rounded-xl border border-muted-background bg-muted-background/30 hover:bg-muted-background transition duration-200;
		}

		.rlc-info {
			@apply flex flex-col p-2 justify-between gap-1 w-[70%] h-full;
		}

		.rlc-title {
			@apply font-semibold lg:text-lg xl:text-xl whitespace-nowrap truncate;
		}

		.rlc-description {
			@apply text-sm text-muted-foreground whitespace-pre-wrap max-h-10 truncate;
		}

		.rlc-url-container {
			@apply flex items-center gap-1;
		}

		.rlc-favicon {
			@apply w-4 h-4 rounded-md;
		}

		.rlc-url {
			@apply pl-1 font-code font-semibold tracking-tight text-sm text-muted-foreground whitespace-nowrap truncate;
		}

		.rlc-image-container {
			@apply w-[30%] h-full;
		}

		.rlc-image-container img {
			@apply bg-background w-full h-full object-cover rounded-r-[calc(0.75rem-1px)];
		}

		/* image */
		p > img {
			@apply rounded-md lg:max-w-[75%] xl:max-w-[66.6666%] mx-auto mt-16;
		}

		/* caption */
		.caption-image {
			@apply mb-8;
		}

		.caption-table {
			@apply mt-8;
		}

		table {
			@apply table min-w-[1px] max-w-full mx-auto mb-16 tracking-wide leading-relaxed 2xl:leading-loose lg:text-[1.125rem] xl:text-[1.25rem];

			thead {
				@apply bg-muted-background/50;
			}

			tr {
				@apply border-collapse border-b border-muted-background;

				code {
					@apply font-code text-sm lg:text-base xl:text-lg bg-muted-background/50 px-1 py-[0.125rem] rounded-md;
				}

				.katex {
					@apply text-[1.2rem] lg:text-[1.32rem] xl:text-[1.6rem];
				}
			}

			th {
				@apply p-2 lg:px-4;
			}

			td {
				@apply text-muted-foreground p-2 lg:px-4;
			}
		}

		/* blockquote */
		blockquote {
			@apply block bg-muted-background/30 border-l-8 border-muted-background px-4 py-2 w-full h-fit my-8 lg:my-12;
		}

		/* callout */
		.callout {
			@apply block px-4 py-2 w-full h-fit rounded-xl my-8 lg:my-12;

			p > code {
				@apply bg-background text-muted-foreground;
			}

			.remark-code-title {
				@apply bg-background;
			}

			.astro-code {
				background-color: rgba(var(--background), 1) !important;
			}
		}

		.callout-title {
			@apply pb-4 flex items-center gap-2 font-bold text-lg lg:text-xl xl:text-2xl;

			code {
				@apply font-code text-lg lg:text-xl xl:text-2xl;
			}

			.katex {
				@apply text-[1.2rem] lg:text-[1.32rem] xl:text-[1.6rem];
			}
		}

		.callout-quote {
			@apply bg-muted-background/30 border border-muted-background;
		}

		.callout-title-quote {
			@apply text-foreground;
		}

		.callout-note {
			@apply bg-muted-background/30 border border-muted-background;
		}

		.callout-title-note {
			@apply text-foreground;
		}

		.callout-info {
			@apply bg-blue-500/30 border border-blue-500;
		}

		.callout-title-info {
			@apply text-blue-500;
		}

		.callout-important {
			@apply bg-violet-400/30 border border-violet-400;
		}

		.callout-title-important {
			@apply text-violet-400;
		}

		.callout-warn {
			@apply bg-amber-400/30 border border-amber-400;
		}

		.callout-title-warn {
			@apply text-amber-400;
		}

		.callout-alert {
			@apply bg-red-400/30 border border-red-400;
		}

		.callout-title-alert {
			@apply text-red-400;
		}

		.callout-tip {
			@apply bg-green-500/30 border border-green-500;
		}

		.callout-title-tip {
			@apply text-green-500;
		}

		.callout-math {
			@apply bg-orange-400/30 border border-orange-400;
		}

		.callout-title-math {
			@apply text-orange-400;
		}

		/* code block */
		.remark-code-title {
			@apply text-muted-foreground w-fit mt-8 lg:mt-12 text-sm lg:text-base xl:text-lg tracking-wide font-semibold px-3 py-1 rounded-t-lg bg-muted-background/30;
		}
		.remark-code-title + pre {
			@apply p-2 mb-8 lg:mb-12 rounded-b-lg rounded-tr-lg overflow-x-auto;
		}
		.remark-code-title + pre::-webkit-scrollbar {
			height: 12px;
			background: transparent;
			border-bottom-left-radius: 0.5rem;
			border-bottom-right-radius: 0.5rem;
		}
		.remark-code-title + pre::-webkit-scrollbar-thumb {
			background: linear-gradient(
				90deg,
				rgba(var(--accent-sub-base), var(--opacity)) 0%,
				rgb(var(--accent-base), var(--opacity)) 100%
			);
			border-radius: 8px;
		}

		.remark-code-title + pre code {
			@apply font-code text-sm lg:text-base xl:text-lg;
		}

		/* inline code */
		p > code,
		li > code {
			@apply text-muted-foreground font-code text-sm lg:text-base xl:text-lg bg-muted-background/50 px-1 py-[0.125rem] rounded-md;
		}

		.astro-code {
			background-color: rgba(var(--muted), 0.3) !important;
		}

		.astro-code span {
			background-color: transparent !important;
		}

		/* hr */
		hr {
			@apply my-4 border-[0.5px] border-muted-background;
		}

		/* math block */
		.katex {
			@apply sm:text-[1.2rem] lg:text-[1.2rem] xl:text-[1.32rem];
		}
		.katex-display {
			@apply py-2 overflow-x-auto overflow-y-clip;
		}

		.katex-display > .katex {
			@apply sm:text-[1.2rem] lg:text-[1.2rem] xl:text-[1.32rem];
		}

		/* iframe */
		p > iframe {
			@apply w-full h-fit mx-auto aspect-video;
		}
	}
</style>
