---
import ArticleHeadline from "../../../components/large/ArticleHeadline.astro";
import Toc from "../../../components/large/Toc";
import Base from "../../../layouts/Base.astro";
import { getCollection } from "astro:content";
import ProfileCard from "../../../components/card/ProfileCard.astro";
// KeTeX
import "katex/dist/katex.min.css";
import PageTopButton from "../../../components/button/PageTopButton";
import RelatedArticles from "../../../components/large/RelatedArticles.astro";
import Shares from "../../../components/large/Shares";
import SideArticles from "../../../components/large/SideArticles.astro";

export const getStaticPaths = async () => {
	const articles = await getCollection("article");

	return articles.map((article) => ({
		params: { slug: article.slug },
		props: { article },
	}));
};

const { article } = Astro.props;
const { Content, headings } = await article.render();
---

<Base
	title={`${article.data.title} | ${import.meta.env.APP_NAME}`}
	description={article.data.description ?? ""}
	ogImage={new URL(`/blog/thambnail/${article.slug}.png`, import.meta.env.APP_URL)}
>
	<section class="pt-8 w-full flex flex-col lg:flex-row">
		<article class="min-h-[calc(100dvh-8rem)] sm:min-h-0 flex flex-col gap-8 lg:w-[65%]">
			<ArticleHeadline slug={article.slug} data={article.data} />
			<div class="lg:hidden">
				<Toc headings={headings} client:visible />
			</div>
			<div id="article-content">
				<Content />
				<RelatedArticles relatedArticles={article.data.relatedArticles} />
				<div class="lg:hidden">
					<Shares
						appName={import.meta.env.APP_NAME}
						appUrl={import.meta.env.APP_URL}
						title={article.data.title}
						slug={article.slug}
						client:visible
					/>
				</div>
				<SideArticles slug={article.slug} />
			</div>
		</article>
		<aside
			class="pt-16 lg:pt-0 flex flex-col gap-8 lg:w-[35%] lg:pl-[3.95rem] 2xl:pl-[5.925rem] 2xl:pr-[1.975rem]"
		>
			<ProfileCard />
			<div class="lg:sticky lg:top-8 hidden lg:flex flex-col items-end sm:gap-4">
				<Toc headings={headings} client:visible />
				<div class="flex items-center gap-4 w-full">
					<Shares
						appName={import.meta.env.APP_NAME}
						appUrl={import.meta.env.APP_URL}
						title={article.data.title}
						slug={article.slug}
						client:visible
					/>
					<PageTopButton client:visible />
				</div>
			</div>
		</aside>
	</section>
</Base>

<style lang="scss" is:global>
	#article-content {
		/* paragraphs */
		p {
			@apply tracking-wide leading-relaxed 2xl:leading-loose lg:text-[1.125rem] xl:text-[1.25rem];
		}

		/* list */
		ul {
			@apply list-inside list-disc;
		}

		ol {
			@apply list-inside list-decimal;
		}

		ol > li::marker {
			@apply font-semibold;
		}

		ul > li,
		ol > li {
			@apply tracking-wide leading-relaxed 2xl:leading-loose lg:text-[1.125rem] xl:text-[1.25rem];
		}

		/* link card */
		.rlc-container {
			@apply my-4 lg:my-8 flex items-center w-full h-24 sm:h-28 lg:h-32 rounded-xl border border-muted-background bg-muted-background/50 hover:bg-muted-background transition duration-200;
		}

		.rlc-info {
			@apply flex flex-col p-2 justify-between gap-1 w-3/4 h-full;
		}

		.rlc-title {
			@apply font-semibold lg:text-lg max-h-12 truncate;
		}

		.rlc-description {
			@apply text-xs text-muted-foreground whitespace-pre-wrap max-h-4 lg:max-h-12 truncate overflow-clip;
		}

		.rlc-url-container {
			@apply flex items-center gap-1;
		}

		.rlc-favicon {
			@apply w-3 h-3;
		}

		.rlc-url {
			@apply font-code font-semibold tracking-tight text-xs text-muted-foreground;
		}

		.rlc-image-container {
			@apply w-1/4 h-full;
		}

		.rlc-image-container img {
			@apply bg-background w-full h-full object-cover rounded-r-[calc(0.75rem-1px)];
		}

		/* image */
		p > img {
			@apply rounded-xl lg:max-w-[75%] xl:max-w-[66.6666%] mx-auto mt-4;
		}

		/* caption */
		p > figcaption {
			@apply mb-4;
		}

		/* blockquote */
		blockquote {
			@apply block border-l-8 border-muted-background px-4 py-2 w-full h-fit my-4 lg:my-8;
		}

		/* callout */
		.callout {
			@apply block px-4 py-2 w-full h-fit rounded-xl my-4 lg:my-8;
		}

		.callout-title {
			@apply pb-4 flex items-center gap-2 font-bold text-lg lg:text-xl xl:text-2xl;

			code {
				@apply font-code text-lg lg:text-xl xl:text-2xl;
			}

			.katex {
				@apply text-[1.2rem] lg:text-[1.32rem] xl:text-[1.6rem];
			}
		}

		.callout-quote {
			@apply bg-muted-background/50 border border-muted-background;
		}

		.callout-title-quote {
			@apply text-foreground;
		}

		.callout-note {
			@apply bg-muted-background/50 border border-muted-background;
		}

		.callout-title-note {
			@apply text-foreground;
		}

		.callout-info {
			@apply bg-blue-500/30 border border-blue-500;
		}

		.callout-title-info {
			@apply text-blue-500;
		}

		.callout-important {
			@apply bg-violet-400/30 border border-violet-400;
		}

		.callout-title-important {
			@apply text-violet-400;
		}

		.callout-warn {
			@apply bg-amber-400/30 border border-amber-400;
		}

		.callout-title-warn {
			@apply text-amber-400;
		}

		.callout-alert {
			@apply bg-red-400/30 border border-red-400;
		}

		.callout-title-alert {
			@apply text-red-400;
		}

		.callout-tip {
			@apply bg-green-500/30 border border-green-500;
		}

		.callout-title-tip {
			@apply text-green-500;
		}

		.callout-math {
			@apply bg-orange-400/30 border border-orange-400;
		}

		.callout-title-math {
			@apply text-orange-400;
		}

		/* code block */
		.remark-code-title {
			@apply mt-8 mb-1 text-base p-2 rounded-t-lg font-semibold bg-muted-background/50 text-muted-foreground;
		}
		.remark-code-title + pre {
			@apply p-2 mb-8 rounded-b-lg overflow-x-auto;
		}
		.remark-code-title + pre::-webkit-scrollbar {
			height: 12px;
			background: transparent;
			border-bottom-left-radius: 0.5rem;
			border-bottom-right-radius: 0.5rem;
		}
		.remark-code-title + pre::-webkit-scrollbar-thumb {
			background: linear-gradient(
				90deg,
				rgba(var(--accent-sub-base), var(--opacity)) 0%,
				rgb(var(--accent-base), var(--opacity)) 100%
			);
			border-radius: 8px;
		}

		.remark-code-title + pre code {
			@apply font-code text-sm lg:text-base xl:text-lg;
		}

		/* inline code */
		p > code {
			@apply font-code text-sm lg:text-base xl:text-lg bg-muted-background/50 px-1 py-[0.125rem] rounded-md;
		}

		.astro-code {
			background-color: rgba(var(--muted), 0.5) !important;
		}

		.astro-code span {
			background-color: transparent !important;
		}

		/* hr */
		hr {
			@apply my-4 border-[0.5px] border-muted-background;
		}

		/* math block */
		.katex {
			@apply lg:text-[1.2rem] xl:text-[1.32rem];
		}
		.katex-display {
			@apply overflow-x-auto overflow-y-clip;
		}

		.katex-display > .katex {
			@apply lg:text-[1.2rem] xl:text-[1.32rem];
		}

		/* iframe */
		p > iframe {
			@apply w-full h-fit xl:w-2/3 2xl:w-1/2 mx-auto rounded-xl;
			aspect-ratio: 16 / 9;
		}
	}
</style>
