---
import type { CollectionEntry } from "astro:content";
import { IoChevronForward, IoGitCommit } from "solid-icons/io";
import { AllowedRoutes } from "../../utils/common/route";
import ClassifyCard from "../card/ClassifyCard.astro";

interface Props {
	count?: number;
	category?: CollectionEntry<"category">;
	tag?: CollectionEntry<"tag">;
	archive?: {
		year: string;
		month: string;
	};
}

const { count = 0, category, tag, archive } = Astro.props;

const route = new AllowedRoutes(Astro.url.pathname);
const root = route.getRootPageMeta();
const subset = route.getSubsetPageMeta();
---

<ul class="w-full flex justify-between items-center">
	<ul class="flex items-center gap-1">
		<li class="flex items-center gap-1">
			<a
				href={root.meta.rootpath}
				class="font-semibold text-sm lg:text-lg text-muted-foreground hover:text-foreground transition-colors duration-150"
			>
				{root.meta.name}
			</a>
			<span class="text-base lg:text-xl text-muted-foreground">
				<IoChevronForward />
			</span>
		</li>
		{/* subset */}
		{
			!root.isRoot && (
				<ul class="flex items-center gap-1">
					{
						<li class="flex items-center gap-1">
							<a
								href={subset.meta.rootpath}
								class="font-semibold text-sm lg:text-lg text-muted-foreground hover:text-foreground transition-colors duration-150"
							>
								{subset.meta.name}
							</a>
							<span class="text-base lg:text-xl text-muted-foreground">
								<IoChevronForward />
							</span>
						</li>
					}
				</ul>
			)
		}
		{/* category */}
		{
			category && (
				<li class="pt-[2px] max-w-28 sm:max-w-fit truncate">
					<ClassifyCard collection={category} />
				</li>
			)
		}
		{/* tag */}
		{
			tag && (
				<li class="pt-[2px] max-w-28 sm:max-w-fit truncate">
					<ClassifyCard collection={tag} />
				</li>
			)
		}
		{/* archive */}
		{
			archive && (
				<li>
					<a
						href={`/blog/archives/${archive.year}-${archive.month}`}
						class="hover:text-foreground transition text-muted-foreground"
					>
						<span class="cursor-pointer text-sm lg:text-lg font-semibold">
							{`${archive.year}-${archive.month}`}
						</span>
					</a>
				</li>
			)
		}
	</ul>
	{
		count > 0 && (
			<p class="font-semibold text-sm lg:text-lg text-muted-foreground">{`${count} 件を表示中`}</p>
		)
	}
</ul>
