---
// Reset CSS
import "destyle.css/destyle.min.css";
// Fonts
import "@fontsource/noto-sans-jp/300.css";
import "@fontsource/noto-sans-jp/400.css";
import "@fontsource/noto-sans-jp/500.css";
import "@fontsource/noto-sans-jp/600.css";
import "@fontsource/noto-sans-jp/700.css";
import "@fontsource/montserrat/300.css";
import "@fontsource/montserrat/400.css";
import "@fontsource/montserrat/500.css";
import "@fontsource/montserrat/600.css";
import "@fontsource/montserrat/700.css";
// Components
import Header from "../components/common/Header";
import Footer from "../components/common/Footer";
import Sidebar from "../components/common/Sidebar";
// View Transitions
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
	description: string;
	ogImage?: URL;
}
const { title, description, ogImage } = Astro.props;
const ogImageUrl = ogImage ? ogImage : new URL("/siwl-logo.png", import.meta.env.APP_URL);
---

<!doctype html>
<html lang="ja">
	<head prefix="og: https://ogp.me/ns#">
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="og:site_name" content={import.meta.env.APP_NAME} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:image" content={ogImageUrl} />

		<!-- Twitter OGP -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content={import.meta.env.X_OWNER} />
		<meta name="twitter:creator" content={import.meta.env.X_OWNER} />

		<!--AdSense -->
		<meta name="google-adsense-account" content="ca-pub-3902543804034425" />

		<!--Scroll Bar -->
		<meta name="theme-color" media="(prefers-color-scheme: light)" content="#e4e8fa" />
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#141830" />

		<!--View Transitions-->
    <ViewTransitions />

		<!--noindex nofollow in /contact, privacy-policy-->
		{
			/^\/(contact|privacy-policy)$/.test(Astro.url.pathname) && (
				<>
					<meta name="robots" content="noindex" />
					<meta name="robots" content="nofollow" />
				</>
			)
		}

		<!-- Favicon -->
		<link rel="icon" type="image/svg+xml" href="/siwl-logo.svg" />
		<link rel="icon" type="image/png" href="/siwl-logo.png" />

		<!--Sitemap -->
		<link rel="sitemap" href="/sitemap-index.xml" />

		<!-- Google tag (gtag.js) -->
		<script
			is:inline
			type="text/partytown"
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-CYF55805ED"></script>

		<script is:inline type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-CYF55805ED");
		</script>

		<!--initialize theme -->
		<script is:inline>
			const initializeTheme = () => {
				const rootClass = document.documentElement.classList;
			  const theme = window.localStorage.getItem("theme");
			  if (theme && typeof theme === "string") {
				  if (theme === "dark") {
					  rootClass.add("dark");
					  rootClass.remove("light");
				  } else {
					  rootClass.add("light");
					  rootClass.remove("dark");
				  }
			  } else {
				  if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
					  rootClass.add("dark");
					  rootClass.remove("light");
				  } else {
					  rootClass.add("light");
					  rootClass.remove("dark");
				  }
			  }
			}
			initializeTheme();
			document.addEventListener('astro:after-swap', initializeTheme);
		</script>

		<!--title -->
		<title>{title}</title>
	</head>
  <body class="max-w-screen overflow-x-clip">
		<main>
			<Header appName={import.meta.env.APP_NAME} currentPath={Astro.url.pathname} client:load />
			<Sidebar appName={import.meta.env.APP_NAME} gitHubUrl={import.meta.env.GITHUB_URL} xUrl={import.meta.env.X_URL} zennUrl={import.meta.env.ZENN_URL} client:visible />
			<section id="content" class="bg-background text-foreground min-h-screen px-4 sm:px-8 lg:pl-[calc(4rem+3.95rem)] lg:pr-16">
				<slot />
			</section>
		</main>
		<Footer />
  </body>
</html>

<!--main css -->
<style is:global lang="scss">
	body {
		font-family: "Montserrat", "Noto sans JP", "sans-serif";
		line-break: strict;
		word-break: break-word;
		overflow-wrap: break-word;
		word-wrap: break-word;
		scroll-behavior: smooth;

		&::-webkit-scrollbar {
			width: 12px;
		  background: var(--background);
	  }

	  &::-webkit-scrollbar-thumb {
		  background: var(--muted);
			border-radius: 8px;
	  }
	}
</style>