---
// Reset CSS
import "destyle.css/destyle.min.css";
// Fonts
import "@fontsource/noto-sans-jp/300.css";
import "@fontsource/noto-sans-jp/400.css";
import "@fontsource/noto-sans-jp/500.css";
import "@fontsource/noto-sans-jp/600.css";
import "@fontsource/noto-sans-jp/700.css";
import "@fontsource/montserrat/300.css";
import "@fontsource/montserrat/400.css";
import "@fontsource/montserrat/500.css";
import "@fontsource/montserrat/600.css";
import "@fontsource/montserrat/700.css";
// Components
import Header from "../components/common/Header.astro";
import Footer from "../components/common/Footer.astro";

interface Props {
	title: string;
	description: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head prefix="og: https://ogp.me/ns#">
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="og:site_name" content={import.meta.env.APP_NAME} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<!-- <meta property="og:image" content={ogpImageURL} /> -->
		<meta name="generator" content={Astro.generator} />

		<!-- Twitter OGP -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content={import.meta.env.X_OWNER} />
		<meta name="twitter:creator" content={import.meta.env.X_OWNER} />

		<!--AdSense -->
		<meta name="google-adsense-account" content="ca-pub-3902543804034425" />

		<meta name="theme-color" media="(prefers-color-scheme: light)" content="#94A3B8" />
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#4B5563" />

		<!--noindex nofollow in /contact-->
		<!-- {
			new RegExp("^/contact").test(currentPath) && (
				<>
					<meta name="robots" content="noindex" />
					<meta name="robots" content="nofollow" />
				</>
			)
		} -->

		<!-- Favicon -->
		<link rel="icon" type="image/svg+xml" href="/siwl-logo.svg" />
		<link rel="icon" type="image/png" href="/siwl-logo.png" />

		<!--Sitemap -->
		<link rel="sitemap" href="/sitemap-index.xml" />

		<!-- Google tag (gtag.js) -->
		<script
			is:inline
			type="text/partytown"
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-CYF55805ED"></script>

		<script is:inline type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-CYF55805ED");
		</script>

		<!--title -->
		<title>{title}</title>
	</head>
  <body>
    <Header />
		<main>
			<slot />
		</main>
		<Footer />
  </body>
</html>

<!--main css -->
<style is:global lang="scss">
	html {
		font-family: "Montserrat", "Noto sans JP", "sans-serif";
		scroll-behavior: smooth;
	}

	body {
		max-width: 100vw;
		overflow-x: clip;
		line-break: strict;
		word-break: break-word;
		overflow-wrap: break-word;
		word-wrap: break-word;
	}

	.scroll-bar::-webkit-scrollbar {
		background: getColor(--bg-secondary-color);
	}

	.scroll-bar::-webkit-scrollbar-thumb {
		background: getColor(--border-color);
	}

	.loading-fade {
		background: getColor(--bg-secondary-color);
		animation: loading-fade 0.4s ease-out;
	}

	@keyframes loading-fade {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	main {
		color: getColor(--text-primary-color);
		background: getColor(--bg-primary-color);
		width: 100%;
		min-height: 100dvh;
		padding: 1rem;
		padding-top: calc(36px + 1rem);

		@include resp(sm) {
			padding-top: calc(48px + 1rem);
		}

		@include resp(lg) {
			padding-top: calc(64px + 1rem);
		}
	}
</style>